@charset "UTF-8";
.card {
  transition: all 0.5s ease-in-out;
}
.card .bga-cards_card-sides {
  transition: all 0.5s ease-in-out;
}
.card .bga-cards_card-side {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
  background-image: url("img/cards.jpg");
  background-size: 800% 800%;
}
.card .bga-cards_card-side[data-img="1"] {
  background-position: 0% 0%;
}
.card .bga-cards_card-side[data-img="2"] {
  background-position: -100% 0%;
}
.card .bga-cards_card-side[data-img="3"] {
  background-position: -200% 0%;
}
.card .bga-cards_card-side[data-img="4"] {
  background-position: -300% 0%;
}
.card .bga-cards_card-side[data-img="5"] {
  background-position: -400% 0%;
}
.card .bga-cards_card-side[data-img="6"] {
  background-position: -500% 0%;
}
.card .bga-cards_card-side[data-img="7"] {
  background-position: -600% 0%;
}
.card .bga-cards_card-side[data-img="8"] {
  background-position: -700% 0%;
}
.card .bga-cards_card-side[data-img="9"] {
  background-position: 0% -100%;
}
.card .bga-cards_card-side[data-img="10"] {
  background-position: -100% -100%;
}
.card .bga-cards_card-side[data-img="11"] {
  background-position: -200% -100%;
}
.card .bga-cards_card-side[data-img="12"] {
  background-position: -300% -100%;
}
.card .bga-cards_card-side[data-img="13"] {
  background-position: -400% -100%;
}
.card .bga-cards_card-side[data-img="14"] {
  background-position: -500% -100%;
}
.card .bga-cards_card-side[data-img="15"] {
  background-position: -600% -100%;
}
.card .bga-cards_card-side[data-img="16"] {
  background-position: -700% -100%;
}
.card .bga-cards_card-side[data-img="17"] {
  background-position: 0% -200%;
}
.card .bga-cards_card-side[data-img="18"] {
  background-position: -100% -200%;
}
.card .bga-cards_card-side[data-img="19"] {
  background-position: -200% -200%;
}
.card .bga-cards_card-side[data-img="20"] {
  background-position: -300% -200%;
}
.card .bga-cards_card-side[data-img="21"] {
  background-position: -400% -200%;
}
.card .bga-cards_card-side[data-img="22"] {
  background-position: -500% -200%;
}
.card .bga-cards_card-side[data-img="23"] {
  background-position: -600% -200%;
}
.card .bga-cards_card-side[data-img="24"] {
  background-position: -700% -200%;
}
.card .bga-cards_card-side[data-img="25"] {
  background-position: 0% -300%;
}
.card .bga-cards_card-side[data-img="26"] {
  background-position: -100% -300%;
}
.card .bga-cards_card-side[data-img="27"] {
  background-position: -200% -300%;
}
.card .bga-cards_card-side[data-img="28"] {
  background-position: -300% -300%;
}
.card .bga-cards_card-side[data-img="29"] {
  background-position: -400% -300%;
}
.card .bga-cards_card-side[data-img="30"] {
  background-position: -500% -300%;
}
.card .bga-cards_card-side[data-img="31"] {
  background-position: -600% -300%;
}
.card .bga-cards_card-side[data-img="32"] {
  background-position: -700% -300%;
}
.card .bga-cards_card-side[data-img="33"] {
  background-position: 0% -400%;
}
.card .bga-cards_card-side[data-img="34"] {
  background-position: -100% -400%;
}
.card .bga-cards_card-side[data-img="35"] {
  background-position: -200% -400%;
}
.card .bga-cards_card-side[data-img="36"] {
  background-position: -300% -400%;
}
.card .bga-cards_card-side[data-img="37"] {
  background-position: -400% -400%;
}
.card .bga-cards_card-side[data-img="38"] {
  background-position: -500% -400%;
}
.card .bga-cards_card-side[data-img="39"] {
  background-position: -600% -400%;
}
.card .bga-cards_card-side[data-img="40"] {
  background-position: -700% -400%;
}
.card .bga-cards_card-side[data-img="41"] {
  background-position: 0% -500%;
}
.card .bga-cards_card-side[data-img="42"] {
  background-position: -100% -500%;
}
.card .bga-cards_card-side[data-img="43"] {
  background-position: -200% -500%;
}
.card .bga-cards_card-side[data-img="44"] {
  background-position: -300% -500%;
}
.card .bga-cards_card-side[data-img="45"] {
  background-position: -400% -500%;
}
.card .bga-cards_card-side[data-img="46"] {
  background-position: -500% -500%;
}
.card .bga-cards_card-side[data-img="47"] {
  background-position: -600% -500%;
}
.card .bga-cards_card-side[data-img="48"] {
  background-position: -700% -500%;
}
.card .bga-cards_card-side[data-img="49"] {
  background-position: 0% -600%;
}
.card .bga-cards_card-side[data-img="50"] {
  background-position: -100% -600%;
}
.card .bga-cards_card-side[data-img="51"] {
  background-position: -200% -600%;
}
.card .bga-cards_card-side[data-img="52"] {
  background-position: -300% -600%;
}
.card .bga-cards_card-side[data-img="53"] {
  background-position: -400% -600%;
}
.card .bga-cards_card-side[data-img="54"] {
  background-position: -500% -600%;
}
.card .bga-cards_card-side[data-img="55"] {
  background-position: -600% -600%;
}
.card .bga-cards_card-side[data-img="56"] {
  background-position: -700% -600%;
}
.card .bga-cards_card-side[data-img="57"] {
  background-position: 0% -700%;
}
.card .bga-cards_card-side[data-img="58"] {
  background-position: -100% -700%;
}
.card .bga-cards_card-side[data-img="59"] {
  background-position: -200% -700%;
}
.card .bga-cards_card-side[data-img="60"] {
  background-position: -300% -700%;
}
.card .bga-cards_card-side[data-img="61"] {
  background-position: -400% -700%;
}
.card .bga-cards_card-side[data-img="62"] {
  background-position: -500% -700%;
}
.card .bga-cards_card-side[data-img="63"] {
  background-position: -600% -700%;
}
.card .bga-cards_card-side[data-img="64"] {
  background-position: -700% -700%;
}
.card .bga-cards_card-side[data-img="65"] {
  background-position: 0% -800%;
}
.card .bga-cards_card-side[data-img="66"] {
  background-position: -100% -800%;
}
.card .bga-cards_card-side[data-img="67"] {
  background-position: -200% -800%;
}
.card .bga-cards_card-side[data-img="68"] {
  background-position: -300% -800%;
}
.card .bga-cards_card-side[data-img="69"] {
  background-position: -400% -800%;
}
.card .bga-cards_card-side[data-img="70"] {
  background-position: -500% -800%;
}
.card .bga-cards_card-side[data-img="71"] {
  background-position: -600% -800%;
}
.card .bga-cards_card-side[data-img="72"] {
  background-position: -700% -800%;
}
.card .back {
  background-position: -600% -700%;
}
.card[data-type=base] {
  width: 168px !important;
  height: 120px !important;
}
.card[data-type=base] .bga-cards_card-side {
  background-size: 500% 200%;
}
.card[data-type=base] .bga-cards_card-side[data-img="1"] {
  background-position: 0% 0%;
}
.card[data-type=base] .bga-cards_card-side[data-img="2"] {
  background-position: -100% 0%;
}
.card[data-type=base] .bga-cards_card-side[data-img="3"] {
  background-position: -200% 0%;
}
.card[data-type=base] .bga-cards_card-side[data-img="4"] {
  background-position: -300% 0%;
}
.card[data-type=base] .bga-cards_card-side[data-img="5"] {
  background-position: -400% 0%;
}
.card[data-type=base] .bga-cards_card-side[data-img="6"] {
  background-position: 0% -100%;
}
.card[data-type=base] .bga-cards_card-side[data-img="7"] {
  background-position: -100% -100%;
}
.card[data-type=base] .bga-cards_card-side[data-img="8"] {
  background-position: -200% -100%;
}
.card[data-type=base] .bga-cards_card-side[data-img="9"] {
  background-position: -300% -100%;
}
.card[data-type=base] .bga-cards_card-side[data-img="10"] {
  background-position: -400% -100%;
}
.card[data-type=base] .bga-cards_card-sides {
  width: 168px !important;
  height: 120px !important;
  left: 0;
  top: 0;
}
.card[data-type=base][data-faction=Empire] .bga-cards_card-side {
  background-image: url("img/base-empire.jpg");
}
.card[data-type=base][data-faction=Rebel] .bga-cards_card-side {
  background-image: url("img/base-rebel.jpg");
}

.swd-table-center {
  padding: 10px;
  margin: 10px;
}
.swd-table-center .galaxy-row-label {
  color: #f3ae25;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.swd-table-center .card[data-type=ship][data-is-ally=true], .swd-table-center .card[data-type=ship][data-is-enemy=true] {
  width: var(--bga-cards_card-height);
  height: var(--bga-cards_card-width);
}
.swd-table-center .card[data-type=ship][data-is-ally=true] .bga-cards_card-sides {
  transform: rotate(90deg);
  transform-origin: center center;
}
.swd-table-center .card[data-type=ship][data-is-enemy=true] .bga-cards_card-sides {
  transform: rotate(-90deg);
  transform-origin: center center;
}
.swd-table-center .card[data-is-enemy=true] .bga-cards_card-sides {
  transform: rotate(180deg);
  transform-origin: center center;
}
.swd-table-center .galaxy-row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.swd-table-center .galaxy-row-wrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.swd-table-center .galaxy-row-wrapper .galaxy-decks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.swd-table-center .galaxy-row-wrapper .force-track {
  position: relative;
  width: 400px;
  height: 143px;
}
.swd-table-center .galaxy-row-wrapper .force-track-background {
  background-image: url("img/force-balance-track.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 143px;
  height: 400px;
  transform: rotate(90deg);
  transform-origin: top left;
  left: 400px;
  position: absolute;
}
.swd-table-center .galaxy-row-wrapper .force-track-indicator {
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  background-image: url("img/cubes.png");
  background-size: 1000% 100%;
  background-position-x: -501%;
  transition: transform 0.5s ease-in-out;
}
.swd-table-center .galaxy-row-wrapper .force-track-indicator[data-force="1"] {
  transform: translateX(-45px);
}
.swd-table-center .galaxy-row-wrapper .force-track-indicator[data-force="2"] {
  transform: translateX(-87px);
}
.swd-table-center .galaxy-row-wrapper .force-track-indicator[data-force="3"] {
  transform: translateX(-142px);
}
.swd-table-center .galaxy-row-wrapper .force-track-indicator[data-force="-1"] {
  transform: translateX(45px);
}
.swd-table-center .galaxy-row-wrapper .force-track-indicator[data-force="-2"] {
  transform: translateX(87px);
}
.swd-table-center .galaxy-row-wrapper .force-track-indicator[data-force="-3"] {
  transform: translateX(142px);
}

.swd-player-table {
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  color: #ffffff;
  min-height: 200px;
}
.swd-player-table .card[data-type=ship] {
  width: 168px !important;
  height: 120px !important;
}
.swd-player-table .card[data-type=ship][data-is-ally=true], .swd-player-table .card[data-type=ship][data-is-enemy=true] {
  width: var(--bga-cards_card-height);
  height: var(--bga-cards_card-width);
}
.swd-player-table .card[data-type=ship] .bga-cards_card-sides {
  transform: rotate(90deg);
  transform-origin: center center;
}
.swd-player-table .card[data-is-enemy=true] .bga-cards_card-sides {
  transform: rotate(180deg);
  transform-origin: center center;
}

.swd-player-table-opponent .swd-player-table {
  border-bottom: 2px solid var(--color-border);
}
.swd-player-table-opponent .swd-player-base-section {
  flex-direction: column-reverse;
}
.swd-player-table-opponent .swd-player-base-section .card[data-type=ship] .bga-cards_card-sides {
  transform: rotate(-90deg);
}

.swd-player-table-current .swd-player-table {
  border-top: 2px solid var(--color-border);
}

.swd-player-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.swd-player-area .swd-play-area {
  padding: 10px;
}
.swd-player-area .swd-play-area .card:not(:first-child) {
  margin-left: -90px;
}
.swd-player-area .swd-player-base-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.swd-player-area .swd-player-decks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.wiz-player-hand {
  flex-basis: 100%;
  min-height: 108px;
}
.wiz-player-hand .card-stock.hand-stock.floating {
  --bga-cards_hand-stock-floating-z-index: 10;
}

html {
  background: black;
  background-image: none;
}

/* Couche d’étoiles */
html::before,
html::after {
  content: "";
  position: fixed;
  inset: 0;
  background-repeat: repeat;
  z-index: -1;
}

/* Étoiles fines */
html::before {
  background-image: radial-gradient(1px 1px at 20% 30%, white, transparent), radial-gradient(1px 1px at 80% 40%, white, transparent), radial-gradient(1px 1px at 50% 80%, white, transparent), radial-gradient(1px 1px at 10% 60%, white, transparent), radial-gradient(1px 1px at 90% 90%, white, transparent);
  background-size: 200px 200px;
  opacity: 0.8;
}

/* Étoiles plus grosses */
html::after {
  background-image: radial-gradient(2px 2px at 25% 25%, #ddd, transparent), radial-gradient(2px 2px at 75% 50%, #ddd, transparent), radial-gradient(2px 2px at 60% 75%, #ddd, transparent);
  background-size: 400px 400px;
  animation-duration: 180s;
  opacity: 0.6;
}

.bga-cards_card-counter.round {
  transform: translate(-10px, -10px);
}

/*# sourceMappingURL=starwarsdeckbuilding.css.map */
