.swd-solo-enemy {
   display: flex;
   width: max-content;
   padding-bottom: 20px;
   margin: auto;

   &[data-faction="empire"] {
      .swd-solo-enemy__center {
         background-image: url("img/solo-enemy-empire.jpg");
      }
   }

   &[data-faction="rebel"] {
      .swd-solo-enemy__center {
         background-image: url("img/solo-enemy-rebel.jpg");
      }
   }

   .swd-solo-enemy__left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding-right: 10px;

      .card-stock {
         .card:not(:first-child) {
            margin-left: -98px;
         }
      }
   }

   .swd-solo-enemy__center {
      background-size: cover;
      width: calc(2400px * 0.20);
      height: calc(1750px * 0.20);
      position: relative;

      .bga-cards_card {
         zoom: 1.3;
      }

      .swd-solo-enemy__progress {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         height: 42px;
      }

      .swd-solo-enemy__active-base {
         position: absolute;
         top: 143px;
         left: 37px;
         width: 219px;
         height: 157px;
      }

      .swd-solo-enemy__leader {
         position: absolute;
         top: 82px;
         left: 284px;
         width: 155px;
         height: 217px;
      }

      .swd-solo-enemy__resources {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 44px;
      }

      .swd-solo-enemy__phases {
         position: absolute;
         bottom: -35px;
         left: 0;
         right: 0;
         height: 30px;
      }

   }

   .swd-solo-enemy__right-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 10px;

      .card-stock {
         .card:not(:first-child) {
            margin-left: -98px;
         }
      }

      .swd-solo-enemy__muster {
         display: flex;
         gap: 5px;
      }
   }

   .progress-track-indicator {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 2px;
      background-image: url("img/cubes.png");
      background-size: 1000% 100%;
      background-position-x: -601%;
      transition: transform 0.5s ease-in-out;

      &[data-progression="0"] {
         transform: translateX(7px);
      }

      &[data-progression="1"] {
         transform: translateX(41px);
      }

      &[data-progression="2"] {
         transform: translateX(75px);
      }

      &[data-progression="3"] {
         transform: translateX(109px);
      }

      &[data-progression="4"] {
         transform: translateX(143px);
      }

      &[data-progression="5"] {
         transform: translateX(178px);
      }

      &[data-progression="6"] {
         transform: translateX(212px);
      }

      &[data-progression="7"] {
         transform: translateX(246px);
      }

      &[data-progression="8"] {
         transform: translateX(280px);
      }

      &[data-progression="9"] {
         transform: translateX(314px);
      }

      &[data-progression="10"] {
         transform: translateX(348px);
      }

      &[data-progression="11"] {
         transform: translateX(382px);
      }

      &[data-progression="12"] {
         transform: translateX(416px);
      }
   }

   .resources-track-indicator {
      position: absolute;
      width: 24px;
      height: 24px;
      // top: 0px;
      left: 68px;
      background-image: url("img/cubes.png");
      background-size: 1000% 100%;
      background-position-x: -601%;
      transition: transform 0.5s ease-in-out;

      &[data-progression="0"] {
         transform: translateX(7px);
      }

      &[data-progression="1"] {
         transform: translateX(41px);
      }

      &[data-progression="2"] {
         transform: translateX(75px);
      }

      &[data-progression="3"] {
         transform: translateX(109px);
      }

      &[data-progression="4"] {
         transform: translateX(143px);
      }

      &[data-progression="5"] {
         transform: translateX(178px);
      }

      &[data-progression="6"] {
         transform: translateX(212px);
      }

      &[data-progression="7"] {
         transform: translateX(246px);
      }

      &[data-progression="8"] {
         transform: translateX(280px);
      }

      &[data-progression="9"] {
         transform: translateX(314px);
      }

      &[data-progression="10"] {
         transform: translateX(348px);
      }

      &[data-progression="11"] {
         transform: translateX(382px);
      }

      &[data-progression="12"] {
         transform: translateX(416px);
      }
   }

   .phases-track-indicator {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 30px;
      background-image: url("img/cubes.png");
      background-size: 1000% 100%;
      // background-position-x: -101%;
      transition: transform 0.5s ease-in-out;

      &[data-progression="0"] {
         transform: translateX(-60px);
      }

      &[data-progression="1"] {
         transform: translateX(0px);
      }

      &[data-progression="2"] {
         transform: translateX(81px);
      }

      &[data-progression="3"] {
         transform: translateX(162px);
      }

      &[data-progression="4"] {
         transform: translateX(232px);
      }

      &[data-progression="5"] {
         transform: translateX(300px);
      }

      &[data-progression="6"] {
         transform: translateX(366px);
      }

   }
}