.swd-player-table {
   border-radius: 8px;
   padding: 10px;
   margin: 10px;
   color: #ffffff;
   min-height: 200px;

   .swd-player-base-section {
      .card[data-type="ship"] {
         width: 168px !important;
         height: 120px !important;
         &[data-is-ally="true"],
         &[data-is-enemy="true"] {
            width: var(--bga-cards_card-height);
            height: var(--bga-cards_card-width);
         }
         .bga-cards_card-sides {
            transform: rotate(90deg);
            transform-origin: center center;
         }
      }

      // .card[data-is-enemy="true"] .bga-cards_card-sides {
      //    transform: rotate(180deg);
      //    transform-origin: center center;
      // }
   }
}

.swd-player-table-current {
   .swd-player-table {
      border-top: 2px solid var(--color-border);
   }
}

.swd-player-area {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 20px;

   .swd-play-area {
      padding: 10px;
      .card {
         &:not(:first-child) {
            margin-left: -90px;
         }
      }
   }

   .swd-player-base-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      max-width: 400px;
   }

   .swd-player-decks {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
   }
}

.discard-with-popup {
   .swd-special-discard {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      z-index: 1;
      display: none;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 1.75rem;
      background-color: rgb(0 0 0 / 0.8);
      cursor: pointer;
      color: #ffffff;
   }

   &[data-empty="false"]:hover {
      .swd-special-discard {
         display: flex;
      }
   }
}

.swd-player-table-opponent {
   .swd-player-table {
      border-bottom: 2px solid var(--color-border);
   }

   .swd-player-base-section {
      flex-direction: column-reverse;

      .swd-player-base-section {
         .card[data-type="ship"] {
            .bga-cards_card-sides {
               transform: rotate(-90deg);
            }
         }
      }
   }

   .swd-player-base-section {
      flex-direction: column-reverse;
   }
}
