.bga-cards_card {
   transition: all 0.5s ease-in-out;
   .bga-cards_card-sides {
      transition: all 0.5s ease-in-out;
   }

   .bga-cards_card-side {
      image-rendering: -webkit-optimize-contrast;
      image-rendering: high-quality;
      background-image: url("img/cards.jpg");
      background-size: 800% 800%;
      transition: all 0.5s ease-in-out;

      @for $row from 0 through 8 {
         @for $col from 0 through 7 {
            &[data-img="#{($row * 8) + ($col + 1)}"] {
               background-position: ($col * -100%) ($row * -100%);
            }
         }
      }
   }
   .back {
      background-position: -600% -700%;
   }

   &[data-type="base"] {
      width: 168px !important;
      height: 120px !important;

      .bga-cards_card-side {
         background-size: 500% 200%;
         @for $row from 0 through 1 {
            @for $col from 0 through 4 {
               &[data-img="#{($row * 5) + ($col + 1)}"] {
                  background-position: ($col * -100%) ($row * -100%);
               }
            }
         }
      }

      .bga-cards_card-sides {
         width: 168px !important;
         height: 120px !important;
         left: 0;
         top: 0;
      }

      &[data-faction="Empire"] .bga-cards_card-side {
         background-image: url("img/base-empire.jpg");
      }

      &[data-faction="Rebel"] .bga-cards_card-side {
         background-image: url("img/base-rebel.jpg");
      }

      .card-damage {
         position: absolute;
         color: white;
         font-weight: 800;
         background-color: #5a1740;
         border-radius: 50%;
         width: 16px;
         height: 16px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 12px;
         bottom: 5px;
         left: 48%;
      }
   }
}
